@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* border: 1px solid rgba(0, 0, 0, .2); */
}

:root {
  --header-height: 10rem;
}

.mobile-menu {
  overflow-x: hidden;
  transition: all ease-in-out 300ms;
}

.blur {
  display: none;
}

body {
  overflow-x: hidden;
}

header {
  height: var(--header-height);
  min-width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  /* padding: 1rem; */

  /* box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25); */
  /* border-radius: 1rem; */
}

header .img-logo {
  max-height: 8rem;
  height: 100%;
}

header > ul {
  margin: auto 0;
  list-style: none;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

header > ul > li > span {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  min-width: 13ch;
  text-align: center;

  display: block;

  cursor: pointer;
  text-transform: uppercase;
}

header > i {
  display: none;
  position: absolute;
  right: 1.5rem;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: calc(95vh - var(--header-height));
}

.home > .home-text, 
.home > .home-ilustration {
  width: 40vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.font-lg {
  font-size: 3rem;
}

@media (max-width: 991px) {

  :root {
    --header-height: 7rem;
  }

  body {
    overflow-x: hidden;
  }

  header > .items-desktop > li > span {
    display: none;
  }
  header > i {
    display: block;
    position: absolute;
  }

  header > .items-desktop > li > .img-logo {
    max-height: 5rem;
  }

  .blur {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    backdrop-filter: blur(2px);
  }

  .shown {
    display: block;
  }

  .mobile-menu {
    display: block;

    background-color: #2e2e2e;

    height: 100vh;
    width: 75vw;

    position: fixed;
    top: 0;
    right: -100vw;

    padding: 2rem;
    transition: right ease-in-out 300ms;
  }

  .mobile-menu img {
    max-width: 6rem;
  }

  .open {
    right: 0;
  }

  .mobile-menu > ul {
    list-style: none;

    color: #fefefe;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .home {
    flex-direction: column-reverse;
  }

  .home > .home-ilustration {
    width: 80vw;
  }

  .home > .home-text{
    padding: 1rem;
    width: 100vw;
  }

  .home > .home-text > span{
    max-width: 30ch;
    margin: 0 auto;
  }

  .font-lg {
    font-size: 1.5rem;
  }
}

@media (min-width: 500px) and (max-width: 991px){
  .font-lg {
    font-size: 2rem;
  }
}